{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container"><br><br><br>
		<div class="row">
			<h2 class="title h1Twig">«Sélectif» — Collection Privée PREparfumer®</h2><br>
			<h3 class="title h1Twig">CE N’EST PAS UN SIMPLE PARFUM…</h3><br>
			<h4 class="text h1Twig">
				La collection de parfums « Sélectif » est un chef-d’oeuvre de l’art en parfumerie. Le couvercle et la pompe du flacon de parfum sont peints avec de l’or 24 carats pour protéger le revêtement.
			</h4>
		</div>
	</div>

	<div class="container">
		<div class="card mb-12" style="margin-top: 70px">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('uploads/images/' ~ produit.image) }}" class="card-img-top" alt="{{ produit.Nom }}">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h2 class="card-title h1Twig">{{ produit.Nom }}</h2>
						<p class="card-text">{{ produit.Description }}
							...</p>
						<h5 class="h5Twig">{{produit.Prix}}€</h5>
						<a href="{{ path('app_panier_new', {'id': produit.id}) }}" class="btn btn-outline-warning m-1">Ajouter au panier</a>
					</div>
				</div>
			</div>
		</div>

		<h2 class="h1Twig">Derniers produits ajoutés</h2>

		<div class="row">

			{% for produit in produits %}
				<div class="col-md-3 mt-4">
					<div class="card" style="">
						<img src="{{ asset('uploads/images/' ~ produit.image) }}" class="card-img-top" alt="{{ produit.Nom }}">
						<div class="card-body">
							<a style="text-decoration: none" href="{{ path('app_home_produit_show', {'id': produit.id}) }}">
								<h5 class="card-title h5Twig">{{ produit.Nom }}</h5>
							</a>
							<p class="card-text">{{ produit.Description|slice(0, 50) }}
								...</p>
							<h5 class="h1Twig">{{produit.Prix}}€</h5>
							<a href="{{ path('app_panier_new', {'id': produit.id}) }}" class="btn btn-outline-warning m-1">Ajouter au panier</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div><br><br><br>

		{{knp_pagination_render(produits, 'Includes/pagination.html.twig') }}

	</div>
{% endblock %}
