{{ form_start(form) }}
    {{ form_row(form.Nom, {'attr': {'class':'form form-control'}}) }}
    {{ form_row(form.Description, {'attr': {'class':'form form-control'}}) }}
    {{ form_row(form.Prix, {'attr': {'class':'form form-control'}}) }}
    {{ form_row(form.stock, {'attr': {'class':'form form-control'}}) }}
    {{ form_row(form.SousCategories, {'attr': {'class':'form form-control'}}) }}<br>
    {{ form_row(form.Image, {'attr': {'class':'form'}}) }}<br>
    <button class="btn btn-info m-1">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
