{% extends 'base.html.twig' %}

{% block title %}Utilisateur index
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="h1Twig">Utilisateurs</h1>

		{% include('Includes/_flash_message.html.twig') %}

		<table class="table">
			<thead class="table-group-divider">
				<tr>
					<th>id</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Email</th>
					<th>Roles</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for utilisateur in utilisateurs %}
					<tr>
						<td>{{ utilisateur.id }}</td>
						<td>{{ utilisateur.Nom }}</td>
						<td>{{ utilisateur.Prenom }}</td>
						<td>{{ utilisateur.email }}</td>
						<td>
							{% if ("ROLE_ADMIN" in utilisateur.roles) %}
								<span class="text-primary">Administrateur</span>
							{% elseif ("ROLE_EDITOR" in utilisateur.roles) %}
								<span class="text-success">Éditeur</span>
							{% elseif ("ROLE_USER" in utilisateur.roles) %}
								<span class="text-info">Utilisateur</span>
							{% endif %}
						</td>
						<td>

							{% if ("ROLE_ADMIN" in utilisateur.roles == false) %}

								{% if ("ROLE_EDITOR" in utilisateur.roles == false) %}
									<a onclick="return confirm('Vous voulez l'ajouter comme éditeur?');" href="{{ path('app_utilisateur_to_editor', {'id': utilisateur.id}) }}" class="btn btn-warning m-1">Ajouter comme éditeur</a>

								{% else %}
									<a onclick="return confirm('Vous voulez supprimer cet éditeur?');" href="{{ path('app_utilisateur_remove_editor/role', {'id': utilisateur.id}) }}" class="btn btn-danger m-1">Supprimer l'éditeur</a>
								{% endif %}


								<a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary m-1">Voir</a>
								<a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-success m-1">Éditeur</a>
							{% endif %}


						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucun enregistrement trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_utilisateur_new') }}" class="btn btn-primary m-1">Créer un nouveau utilisateur</a>
	</div>
{% endblock %}
