<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="navbar-brand" href="/">
            <img class="logo" src="{{ asset('/uploads/images/WPreParfumerlogo.png') }}" alt="Logo du site PreParfumer" style="width: 100px; height: 100px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-gold" aria-current="page" href="{{path('app_home')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-gold" href="{{path('app_catalogue_index')}}">Catalogue</a>
                </li>
                {% if categories is defined %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-gold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtres
                    </a>
                    <ul class="dropdown-menu">
                        {% for categorie in categories %}
                        <li>
                            <a class="dropdown-item text-warning" style="font-weight: bold;" href="#">{{categorie.Nom}}</a>
                        </li>
                        {% for sousCategorie in categorie.sousCategories %}
                        <li>
                            <a class="dropdown-item" href="{{path('app_home_produit_filter', {'id': sousCategorie.id})}}">{{sousCategorie.Nom}}</a>
                        </li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("ROLE_EDITOR") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-gold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu Admin</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item text" href="{{path('app_utilisateur_index')}}">Utilisateurs</a>
                        </li>
                        <li>
                            <a class="dropdown-item text" href="{{path('app_categorie_index')}}">Catégories</a>
                        </li>
                        <li>
                            <a class="dropdown-item text" href="{{path('app_sous_categorie_index')}}">Sous Catégories</a>
                        </li>
                        <li>
                            <a class="dropdown-item text" href="{{path('app_produit_index')}}">Produits</a>
                        </li>
                        <li>
                            <a class="dropdown-item text" href="{{path('app_ville_index')}}">Villes</a>
                        </li>
                        <li>
                            <a class="dropdown-item text" href="{{path('app_home')}}">Commandes</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{path('app_panier')}}" class="nav-link btn btn-light text-gold">
                        <i class="bi bi-cart"></i>
                    </a>
                </li>
                {% if app.user == false %}
                <li class="nav-item">
                    <a href="{{path('app_register')}}" class="nav-link btn btn-light text-gold">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a href="{{path('app_login')}}" class="nav-link btn btn-light text-gold">Se connecter</a>
                </li>
                {% else %}
                {# <li class="nav-item">
                    <a href="{{path('app_compte_index')}}" class="nav-link btn btn-light text-gold">Mon compte</a>
                </li> #}
                <li class="nav-item">
                    <a href="{{path('app_logout')}}" class="nav-link btn btn-light text-gold">Se déconnecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
