{% if pageCount > 1 %}
	<nav aria-label="">
		<ul class="pagination justify-content-center">
			{% if previous is defined %}
				<li class="page-item">
					<a style="border-radius: 20%;" class="page-link" href="{{ path (route, query|merge({(pageParameterName): previous})) }}">Precedent</a>
				</li>
			{% endif %}

			{% for page in pagesInRange %}
				{% if page == current %}
					<li class="page-item active">
						<a style="border-radius: 35%;" class="page-link" href="{{ path (route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</li>
				{% else %}
					<li class="page-item">
						<a style="border-radius: 35%;" class="page-link" href="{{ path (route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if next is defined %}
				<li class="page-item">
					<a style="border-radius: 20%;" class="page-link" href="{{ path (route, query|merge({(pageParameterName): next})) }}">Suivant</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
